.bgDark {
  background-color: var(--dark);
}

.bgWhite {
  background-color: var(--white);
}

body {
  margin: 0;
  overflow-y: hidden;
}

h1 {
  font-weight: 200;
  font-size: 3rem;
}

h4 {
  margin: 0;
}

label {
  display: block;
  margin-bottom: 4px;
}

label:not(:first-child) {
  margin-top: 12px;
  margin-bottom: 4px;
}

/* input[type="text"],
input[type="password"] {
  padding: 2px;
  border: 1px solid var(--dark);
  border-radius: 2px;
} */

input:invalid {
  border: 1px solid var(--danger-red);
}

img.extraHuge {
  min-width: 256px;
  min-height: 256px;
}

img.extraHugeVertical {
  width: 256px;
  height: 362px;
}

img.huge {
  width: 128px;
  height: 128px;
}

img.extraLagrge {
  width: 64px;
  height: 64px;
}

img.large {
  width: 32px;
  height: 32px;
}

img.medium {
  width: 24px;
  height: 24px;
}

img.small {
  width: 16px;
  height: 16px;
}

footer {
  opacity: 0.5;
  padding: 12px;
  text-align: center;
}

td.fillCell {
  display: flex;
}

td.fillCell > * {
  flex-grow: 1;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#appControls {
  display: flex;
  align-items: center;
}

.mainContent {
  overflow-y: auto;
  display: flex;
  flex: 1;
}

.detailContent {
  display: flex;
  border-left: 1px solid var(--light-border);
}

.collection {
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-content: flex-start;
}

.configValues td > * {
  margin: 0;
  vertical-align: middle;
}

.configValues td:first-child {
  text-align: right;
}
.configValues td:last-child {
  text-align: left;
}

#controlPanelBottom {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 0;
}

#controlPanelInside {
  position: absolute;
  background-color: var(--dark25);
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: end;
}

#controlPanelInside #playerControls {
  margin-left: 32px;
}

#middleControls {
  justify-content: center;
  text-align: center;
}

#rightControls {
  justify-content: flex-end;
}

.selected {
  background-color: var(--selected);
}

#albums,
#artists,
#boxes,
#radios {
  height: 100%;
  display: flex;
  flex-grow: 1;
}

/*
ARTIST
 */

.artistCover {
  height: 128px;
  width: 256px;
  box-shadow: 0 2px 6px var(--shadow);
  background: var(--white);
}
.artistName {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: auto;
  max-width: 256px;
  font-size: 0.8rem;
  margin-top: 6px;
}

#artistDetailsContent {
  width: 512px;
  position: relative;
  flex-grow: 1;

  flex: none;
  flex-direction: column;
}

#artistDetailsContent #artistHeader {
  color: var(--white);
  text-shadow: 0 1px 2px #000000;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#artistDetailsContent h1 {
  margin-top: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
}

/*
ALBUM
 */
.album,
.artist,
.box,
.radio {
  align-self: flex-start;
  margin: 12px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.album > *,
.artist > *,
.box > *,
.radio > * {
  cursor: pointer;
}

.radio {
  flex-direction: row;
}

.albumContent .selected .albumTitle {
  color: var(--white);
}

.albumCover {
  width: 128px;
  height: 128px;
  box-shadow: 0 2px 6px var(--shadow);
  background: var(--white);
}

.albumTitle,
.radioTitle {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--gray);
  margin: 0;
  margin-top: 6px;
  max-width: 128px;
}
.albumArtist,
.radioUrl {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  max-width: 128px;
  font-size: 0.8rem;
  margin-top: 6px;
}

#albumDetailsContent,
#boxDetailsContent {
  width: 256px;
  flex-direction: column;
  flex: none;
}

#artistDetailsContent .detailsCover {
  width: 512px;
  height: 256px;
  background: var(--white);
}

#boxDetailsContent .detailsCover {
  width: 256px;
  min-height: 362px;
  background: var(--white);
}
#boxDetailsContent .detailsCoverContainer {
  justify-content: center;
}

#albumDetailsContent .detailsCover {
  width: 256px;
  height: 256px;
  background: var(--white);
}

/*
TRACK
 */
.tracks,
.videos {
  display: block;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-y: auto;
  flex-grow: 1;
}

#albums .tracks .trackCover {
  display: none;
}

.track:hover:not(.selected) {
  background-color: var(--background);
}
.track,
.video {
  padding: 8px;
  max-width: 100%;
  cursor: pointer;
  align-items: center;
}

.track .selected50,
.video .selected50 {
  background: var(--selected50);
}

.track .selected,
.video .selected {
  background: var(--selected);
}

.trackDetails {
  display: flex;
  align-items: center;
}

.trackCover {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  background: var(--white);
}

.trackCover,
.videoCover {
  margin-right: 8px;
  box-shadow: 0 2px 6px var(--shadow);
}
.trackTitle,
.videoTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}

.radioCover {
  width: 48px;
  height: 48px;
  box-shadow: 0 2px 6px var(--shadow);
  margin-right: 12px;
  background: var(--white);
}

.track input {
  width: 100%;
}

/*
BOX
*/

.boxCover {
  width: 128px;
  height: 180px;
  box-shadow: 0 2px 6px var(--shadow);
  background: var(--white);
}

.boxTitle {
  overflow: hidden;
  color: var(--gray);
  margin: auto;
  margin-top: 6px;
  max-width: 128px;
  text-align: center;
}

.videos {
  width: 100%;
}

.video {
  display: flex;
  flex-direction: column;
}

.videoCover {
  margin: 0;
  width: 100%;
}

.videoTitle {
  text-align: center;
  max-width: 100%;
  margin-top: 6px;
}

/*
DIALOG USER PROFILE
*/

#player {
  color: var(--white);
  height: 52px;
  display: flex;
  align-items: center;
  margin: 0 12px;
}
#player > * {
  width: 100%;
}
#progress {
  display: flex;
  align-items: center;
  justify-content: center;
}
#progress input {
  margin: 0 12px;
  flex-grow: 1;
  max-width: 400px;
}

#playerControls {
  display: flex;
  align-items: stretch;
}

#playerControls button {
  display: flex;
  padding: 4px 12px;
}

#playerTrackProgress #title {
  cursor: pointer;
}

/*
SEARCH
*/

#search {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: auto;
}

#searchResults {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#searchResultAlbums,
#searchResutlArtists,
#searchResutlBoxes {
  display: flex;
  overflow-x: auto;
  flex-grow: 1;
  flex-shrink: 0;
}

#searchResutlArtists .artist .artistCover {
  width: 256px;
  height: 128px;
}


#login,
#setup {
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  flex-grow: 1;
  color: var(--white);
}

#login form,
#setup form {
  text-align: center;
}

#login button,
#setup button {
  display: initial;
  color: var(--white);
}

#login img {
  opacity: 0.25;
}

#login h1,
#setup h1 {
  margin-top: 0;
}

#loginLogo {
  width: 192px;
  height: 192px;
}

.detailsCoverContainer {
  position: relative;
  display: grid;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.synchronize {
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.showOnMobile {
  display: none;
}

.topBorder {
  border-top: 1px solid var(--light-border);
}

@media (max-width: 480px) {
  .mainContent {
    flex-direction: column;
    height: 100%;
  }

  #middleControls #title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  #artistDetailsContent .detailsCover,
  #albumDetailsContent .detailsCover {
    width: 100%;
    height: auto;
  }
  .artistCover {
    width: 100%;
    height: initial;
  }
  nav > div:last-child > input {
    border-left: none;
  }
}

@media (max-width: 480px), (max-height: 480px) {
  .albumCover {
    width: 96px;
    height: 96px;
  }

  .albumArtist,
  .albumTitle,
  .boxTitle {
    max-width: 96px;
  }

  .boxCover {
    width: 96px;
    height: 145px;
  }

  .hideOnMobile {
    display: none !important;
  }

  .detailContent {
    border-left: 0;
  }

  #searchResutlArtists .artist .artistCover {
    width: 216px;
    height: 108px;
  }

  #searchResutlArtists .artist .artistName {
    max-width: 216px;
  }

  #albumDetailsContent .detailsCover {
    width: 100%;
    align-self: center;
  }

  #boxDetailsContent .detailsCover {
    width: 128px;
    height: 181px;

    min-width: 128px;
    min-height: 181px;

    align-self: center;
    margin: 16px;
    box-shadow: 0 2px 6px var(--shadow);
  }

  .showOnMobile {
    display: grid;
    justify-content: flex-end;
  }

  #artistDetailsContent,
  #albumDetailsContent,
  #boxDetailsContent,
  #search {
    width: 100%;
  }

  .videos.topBorder {
    border-top: 0;
  }

  #loginLogo {
    width: 128px;
    height: 128px;
  }

  #login button {
    padding: 8px;
  }

  h1 {
    font-size: 2rem;
  }
}

@media (max-height: 480px) {
  #artistDetailsContent .detailsCover,
  #albumDetailsContent .detailsCover {
    display: none;
  }

  #boxDetailsContent {
    flex-direction: row;
  }

  #boxDetailsContent .detailsCoverContainer {
    display: none;
  }

  #albums .tracks .trackCover {
    display: block;
  }

  #loginLogo {
    display: none;
  }

  #login h1 {
    margin-bottom: 12px;
    font-size: 2rem;
  }

  .tracks.topBorder {
    border-top: 0;
  }
}
