#contentSwitcher {
  background-color: var(--dark-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4px;
}
#switchButtons {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#switchButtons > a {
  padding: 8px;
  display: flex;
  opacity: 0.5;
}
#switchButtons > a:hover {
  opacity: 0.75;
}
#switchButtons > a.router-link-active {
  opacity: 1;
}

@media (max-width: 480px) {
  #contentSwitcher {
    padding: 0;
  }

  #switchButtons,
  #contentSwitcher {
    flex-direction: row;
  }
}
