#newUser {
  display: flex;
  align-items: center;
  margin-top: -6px;
  margin-bottom: -6px;
  margin-right: -6px;
}

#newUser > *:not(:last-child) {
  margin-right: 6px;
}

#usersBody {
  width: 100%;
  padding: 12px;
  padding-right: 0;
}

#usersBody th {
  text-align: left;
}
#usersBody th.maxWidth {
  width: 99%;
}
#usersBody td {
  color: var(--gray);
}
#usersBody td.lastAccess {
  white-space: nowrap;
  text-align: right;
}

#usersBody .me {
  font-weight: bold;
}

#usersBody table button{
  opacity: 0.25;
}

#usersBody table button:hover{
  opacity: 1;
}