#newRadio {
  display: flex;
  align-items: center;
  margin-top: -6px;
  margin-bottom: -6px;
  margin-right: -6px;
}
#newRadio > *:not(:last-child) {
  margin-right: 6px;
}
#radiosBody {
  width: 100%;
}
#radiosBody table {
  margin: 12px;
  margin-right: 6px;
}
#radiosBody th {
  text-align: left;
}
#radiosBody th.maxWidth {
  width: 99%;
}
#radiosBody td {
    white-space:nowrap;
}

#radiosBody table button{
  opacity: 0.25;
}

#radiosBody table button:hover{
  opacity: 1;
}
