#profileBody {
  margin: 12px;
  display: flex;
  flex-direction: column;
}

#profileBody section {
  display: flex;
  flex-direction: column;
}

#profileBody input[type="text"],
#profileBody input[type="password"] {
  display: block;
  margin-top: 6px;
}

#profileBody table h4 {
  margin-left: -3px;
  margin-top: 12px;
}
