#messageScreen {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

#messageScreenColumn {
  display: flex;
  flex-direction: column;
  align-self: center;
}

#messageScreenHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

#messageScreenHeader img {
  margin-right: 24px;
  height: 64px;
}

#messageScreenHeader h1,
#messageScreenHeader h2 {
  color: var(--neutral-gray);
  font-weight: 200;
}

.messageScreenCommand {
  display: flex;
  align-items: center;
  color: var(--neutral-gray);
  border: 1px solid transparent;
  padding: 4px;
}

.messageScreenCommand:hover {
  border: 1px solid var(--neutral-gray);
  cursor: pointer;
}

.messageScreenCommand h3 {
  margin: 0 0 4px 0;
}

.messageScreenCommand img {
  height: 32px;
  margin-right: 4px;
}
