#statusBar {
  position: fixed;
  bottom: 0;
  z-index: 1000;
  cursor: default;
  align-self: center;
}
#statusBar p {
  background-color: var(--dark50);
  color: var(--white);
  padding: 6px 12px;
  display: inline-flex;
  align-items: center;
  margin: 0;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

#statusBar img {
  margin-right: 2px;
}

#statusBar span {
  display: inline-flex;
  align-items: center;
}

#statusBar span:not(:first-child) {
  margin-left: 8px;
}
