
a {
  color: var(--dark);
  text-decoration: none;
}

#welcome {
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#welcome-actions {
  display: flex;
}

#welcome-actions > a {
  flex-grow: 1;
  border: 1px solid var(--dark-gray);
  padding: 24px;
  margin: 12px;
}

@media (max-width: 480px) {
  nav button span,
  nav a span {
    display: none;
  }
}
