<template>
  <div id="albums">
    <div
      class="collection"
      @scroll="checkCoverVisibility"
      @resize="checkCoverVisibility"
      :class="{hideOnMobile: $store.state.selectedAlbum._id}"
    >
      <Album v-for="album in $store.state.albums" :key="album._id" :item="album"/>
    </div>
    <AlbumDetails v-if="$store.state.selectedAlbum._id"/>
  </div>
</template>
<script>
import Album from "../components/Album";
import AlbumDetails from "../components/AlbumDetails";
import EventBus from "../bus";
export default {
  mounted() {
    EventBus.$emit("albums_request");
    this.$store.state.albumsMounted = true;
  },
  methods: {
    checkCoverVisibility() {
      EventBus.$emit("albums_check_cover_visibility");
    }
  },

  components: {
    Album,
    AlbumDetails
  }
};
</script>