<template>
  <div id="artists">
    <div
      class="collection"
      @scroll="checkCoverVisibility"
      @resize="checkCoverVisibility"
      :class="{hideOnMobile: $store.state.selectedArtist._id}"
    >
      <Artist v-for="artist in $store.state.artists" :key="artist._id" :item="artist"/>
    </div>
    <ArtistDetails v-if="$store.state.selectedArtist._id"/>
  </div>
</template>
<script>
import Artist from "../components/Artist";
import ArtistDetails from "../components/ArtistDetails";
import EventBus from "../bus";
export default {
  mounted() {
    EventBus.$emit("artists_request");
    this.$store.state.artistsMounted = true;
  },
  methods: {
    checkCoverVisibility() {
      EventBus.$emit("artists_check_cover_visibility");
    }
  },
  components: {
    Artist,
    ArtistDetails
  }
};
</script>
