<template>
  <div id="boxes">
    <div
      class="collection"
      @scroll="checkCoverVisibility"
      @resize="checkCoverVisibility"
      :class="{hideOnMobile: $store.state.selectedBox._id}"
    >
      <Box v-for="box in $store.state.boxes" :key="box._id" :item="box" />
    </div>
    <BoxDetails v-if="$store.state.selectedBox._id" />
    <VideoScreen />
  </div>
</template>
<script>
import Box from "../components/Box";
import BoxDetails from "../components/BoxDetails";
import VideoScreen from "../components/dialogs/VideoScreen";
import EventBus from "../bus";

export default {
  mounted() {
    EventBus.$emit("boxes_request");
    this.$store.state.boxesMounted = true;
  },
  methods: {
    checkCoverVisibility() {
      EventBus.$emit("box_check_cover_visibility");
    }
  },
  components: {
    Box,
    BoxDetails,
    VideoScreen
  }
};
</script>
