<template>
  <div id="login">
    <img id="loginLogo" src="static/icon_64.svg" />
    <h1>Web Play</h1>
    <form id="loginForm" @submit.prevent="login" method="POST">
      <p>
        <input ref="username" name="username" type="text" placeholder="username" id="username" />
      </p>
      <p>
        <input ref="password" name="password" type="password" placeholder="password" id="password" />
      </p>
      <button class="transparent" action="submit">LogIn</button>
    </form>
  </div>
</template>
<script>
import EventBus from "../bus";

export default {
  mounted() {
    console.log("Login Mounting…");
    EventBus.$on("server_loaded", this.checkTocken);
  },
  methods: {
    checkTocken() {
      console.log(this.server);
      let token = localStorage.getItem("token");
      if (token && this.server) {
        this.$store.state.me.token = token;
        this.$http
          .get(this.server + "/user/me", this.headers)
          .then(res => {
            this.$store.state.me = res.data;
            this.$store.state.me.token = token;
            this.goto();
          })
          .catch(err => {
            console.log(err);
          });
      }
    },
    login() {
      this.$http
        .post(this.server + "/user/login", {
          username: this.$refs.username.value,
          password: this.$refs.password.value
        })
        .then(res => {
          this.$store.state.me = res.data;
          localStorage.setItem("token", res.data.token);
          this.goto();
        });
    },
    goto() {
      if (this.$route.query.redirect) {
        let redirect = decodeURIComponent(this.$route.query.redirect);
        let route = redirect.split("?");
        if (route[1]) {
          let urlParams = new URLSearchParams(route[1]);
          let params = Object.fromEntries(urlParams);
          this.$router.push({ path: route[0], query: params });
        } else {
          this.$router.push(route[0]);
        }
      } else {
        this.$router.push("search");
      }
    }
  },
  computed: {
    server() {
      return this.$store.state.server;
    },
    headers() {
      return this.$store.getters.headers;
    }
  }
};
</script>