<template>
  <div id="radios">
    <div class="collection" v-if="$store.state.radios.length > 0">
      <Radio v-for="(radio, i) in $store.state.radios" :key="i" :item="radio"/>
    </div>
    <MessageScreen
      v-else
      title="No Radios"
      subtitle="Import some Online Radios into your Library"
      icon="internet-radio_dark"
      :commands="messageCommands"
      @commandClicked="messageCommand"
    />
    <RadiosEditor ref="radiosEditor"/>
  </div>
</template>
<script>
import Radio from "../components/Radio";
import EventBus from "../bus";
import MessageScreen from "../components/controls/MessageScreen";
import RadiosEditor from "../components/dialogs/Radios";
export default {
  data() {
    return {
      messageCommands: [
        {
          title: "Add Online Radio",
          subtitle: "Add an url into your Library…",
          icon: "add_dark",
          command: "addRadio"
        }
      ]
    };
  },
  mounted() {
    EventBus.$emit("radios_request");
    EventBus.$on("request_radios_dialog", this.openDialog);
    this.$store.state.radiosMounted = true;
  },
  methods: {
    messageCommand(command) {
      console.log(command);
      this.openDialog();
    },
    openDialog() {
      this.$refs.radiosEditor.open();
    }
  },
  components: {
    Radio,
    RadiosEditor,
    MessageScreen
  }
};
</script>
