<template>
  <div id="search">
    <div
      id="searchResults"
      v-if="!noResults"
      @scroll="checkCoverVisibility"
    >
      <div
        id="searchResultAlbums"
        @scroll="checkAlbumCoverVisibility"
        @resize="checkAlbumCoverVisibility"
      >
        <Album
          v-for="(album, i) in filteredAlbums"
          :key="i"
          :item="album"
          @clicked="gotoAlbum(album)"
          :searchResult="true"
        />
      </div>
      <div
        id="searchResutlArtists"
        @scroll="checkArtistCoverVisibility"
        @resize="checkArtistCoverVisibility"
      >
        <Artist
          v-for="(artist, i) in filteredArtists"
          :key="i"
          :item="artist"
          @clicked="gotoArtist(artist)"
          :searchResult="true"
        />
      </div>
      <div
        id="searchResutlBoxes"
        @scroll="checkBoxCoverVisibility"
        @resize="checkBoxCoverVisibility"
      >
        <Box
          v-for="(box, i) in filteredBox"
          :key="i"
          :item="box"
          @clicked="gotoBox(box)"
          :searchResult="true"
        />
      </div>
    </div>
    <MessageScreen
      v-if="noResults"
      title="No Results"
      subtitle="Try an other search term…"
      icon="no-results"
    />
  </div>
</template>
<script>
import Album from "../components/Album";
import Artist from "../components/Artist";
import Box from "../components/Box";
import MessageScreen from "../components/controls/MessageScreen";

import EventBus from "../bus";

export default {
  mounted() {
    EventBus.$emit("artists_request");
    EventBus.$emit("albums_request");
    EventBus.$emit("boxes_request");
  },
  methods: {
    checkAlbumCoverVisibility() {
      EventBus.$emit("albums_check_cover_visibility");
    },
    checkArtistCoverVisibility() {
      EventBus.$emit("artists_check_cover_visibility");
    },
    checkBoxCoverVisibility() {
      EventBus.$emit("box_check_cover_visibility");
    },
    checkCoverVisibility() {
      this.checkAlbumCoverVisibility();
      this.checkArtistCoverVisibility();
      this.checkBoxCoverVisibility();
    },
    gotoArtist(artist) {
      this.$router.push({ path: "/artists", query: { id: artist._id } });
    },
    gotoAlbum(album) {
      this.$router.push({ path: "/albums", query: { id: album._id } });
    },
    gotoBox(box) {
      this.$router.push({ path: "/boxes", query: { id: box._id } });
    }
  },
  computed: {
    filteredAlbums() {
      let albums = this.$store.state.albums;
      let history = this.$store.state.me.history;
      let filter = this.$store.state.searchFilter;

      if (!filter || filter == "") {
        if (!albums || !history) {
          return [];
        }

        return albums
          .filter(f => history.map(m => m.containerId).includes(f._id))
          .sort((a, b) => {
            let i = history.find(f => f.containerId == a._id);
            let j = history.find(f => f.containerId == b._id);
            return j._id.localeCompare(i._id);
          });
      }
      let f = filter.toUpperCase().trim();
      return albums.filter(
        album =>
          (album.title && album.title.toUpperCase().includes(f)) ||
          (album.parent.name && album.parent.name.toUpperCase().includes(f))
      );
    },
    filteredArtists() {
      let artists = this.$store.state.artists;
      let history = this.$store.state.me.history;
      let filter = this.$store.state.searchFilter;

      if (!filter || filter == "") {
        if (!artists || !history) {
          return [];
        }
        return artists
          .filter(f => history.map(m => m.containerId).includes(f._id))
          .sort((a, b) => {
            let i = history.find(f => f.containerId == a._id);
            let j = history.find(f => f.containerId == b._id);
            return j._id.localeCompare(i._id);
          });
      }
      let f = filter.toUpperCase().trim();
      return artists.filter(
        artist => artist.name && artist.name.toUpperCase().includes(f)
      );
    },
    filteredBox() {
      let boxes = this.$store.state.boxes;
      let history = this.$store.state.me.history;
      let filter = this.$store.state.searchFilter;

      if (!filter || filter == "") {
        if (!boxes || !history) {
          return [];
        }

        return boxes
          .filter(f => history.map(m => m.containerId).includes(f._id))
          .sort((a, b) => {
            let i = history.find(f => f.containerId == a._id);
            let j = history.find(f => f.containerId == b._id);
            return j._id.localeCompare(i._id);
          });
      }
      let f = filter.toUpperCase().trim();
      return boxes.filter(
        box => box.title && box.title.toUpperCase().includes(f)
      );
    },
    noResults() {
      return (
        this.filteredAlbums.length == 0 &&
        this.filteredBox.length == 0 &&
        this.filteredArtists.length == 0 &&
        this.$store.state.searchFilter
      );
    }
  },
  components: {
    Album,
    Artist,
    Box,
    MessageScreen
  }
};
</script>
<style>
</style>
