<template>
  <div class="dropdown">
    <button class="secondary">
      <img :src="'../../static/icons/' + icon + '.svg'" >
    </button>
    <div class="dropdown-content">
      <slot/>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    icon: {
      type: String,
      default: "menu"
    },
    size: {
      type: String,
      default: "small"
    }
  }
};
</script>
