<template>
  <div id="messageScreen">
    <div id="messageScreenColumn">
      <div id="messageScreenHeader">
        <img :src="'static/icons/' + icon + '.svg'">
        <div>
          <h1>{{title}}</h1>
          <h2>{{subtitle}}</h2>
        </div>
      </div>
      <div>
        <div class="messageScreenCommand" v-for="(command, i) in commands" :key="i" @click="$emit('commandClicked', command)">
          <img :src="'static/icons/' + command.icon + '.svg'">
          <div>
            <h3>{{command.title}}</h3>
            <span>{{command.subtitle}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    title: "",
    subtitle: "",
    icon: "",
    commands: {
      type: Array
    }
  }
};
</script>
