<template>
  <div :id="item._id" class="album" @click="selectAlbum" @dblclick="playInstand" :title="title">
    <img class="albumCover" :src="item.cover128" />
    <p class="albumTitle">{{item.title}}</p>
    <p class="albumArtist" :title="item.parent.name">{{item.parent.name}}</p>
  </div>
</template>
<script>
import EventBus from "../bus";
import BaseItem from "./BaseItem";

export default {
  extends: BaseItem,
  mounted() {
    this.scrollEventName = "albums_check_cover_visibility";
    if (this.$route.query.id && this.$route.query.id == this.item._id) {
      this.loadFromDataBase(() => {
        this.item.visible = true;
        this.$store.state.selectedAlbum = this.item;
        this.scrollIntoView(false);
        if (this.$route.query.play) {
          let track = this.item.tracks.find(
            f => f._id == this.$route.query.play
          );
          if (track) {
            this.$store.state.selectedTrack = track;
          }
        }
      });
    } else if (!this.isItemInViewport(true)) {
      EventBus.$on(this.scrollEventName, this.isItemInViewport);
    }
  },
  methods: {
    selectAlbum() {
      this.$emit("clicked");
      if (this.searchResult || this.$store.state.selectedAlbum._id == this.item._id) {
        return;
      }
      this.$router.push("/albums?id=" + this.item._id);
    },
    scrollIntoView(smooth = true) {
      let useSmoothBehavior = false;
      if (smooth) {
        useSmoothBehavior = this.$store.state.selectedAlbum._id != null;
      }
      this.$nextTick(() => {
        this.scrollFunction(useSmoothBehavior);
      });
    },
    loadFromDataBase(callback) {
      if (this.item.tracks) {
        callback();
        return;
      }
      this.item.shuffleHistory = [];
      this.$http
        .get(this.server + "/api/album/" + this.item._id, this.headers)
        .then(res => {
          this.item.cover32 = res.data.cover32;
          this.item.cover128 = res.data.cover128;
          this.item.tracks = res.data.tracks;
          this.item.tracks.forEach(track => {
            track.parent = this.item;
          });
          callback();
        });
    }
  },
  computed: {
    title() {
      return (this.item.year ? this.item.year + " - " : "") + this.item.title;
    }
  }
};
</script>