<template>
  <div id="albumDetailsContent" class="detailContent">
    <div class="detailsCoverContainer">
      <img class="detailsCover" :src="selectedAlbum.cover256" />
    </div>
    <ul id="trackList" class="tracks topBorder">
      <li v-for="item in selectedAlbum.tracks" :key="item._id">
        <Track :track="item" />
      </li>
    </ul>
    <div id="controlPanelBottom" class="topBorder bgWhite">
      <PlayerControls />
    </div>
  </div>
</template>
<script>
import Track from "./Track";
import PlayerControls from "./PlayerControls";
export default {
  computed: {
    selectedAlbum() {
      if (!this.$store.state.selectedAlbum.cover256) {
        this.$http
          .get(
            this.server +
              "/api/album/" +
              this.$store.state.selectedAlbum._id +
              "/cover/256",
            this.headers
          )
          .then(res => {
            this.$store.state.selectedAlbum.cover256 = res.data;
          });
      }
      return this.$store.state.selectedAlbum;
    },
    server() {
      return this.$store.state.server;
    },
    headers() {
      return this.$store.getters.headers;
    }
  },
  components: {
    Track,
    PlayerControls
  }
};
</script>