<template>
  <div :id="item._id" class="artist" @click="selectArtist" @dblclick="playInstand" :title="title">
    <img class="artistCover" :src="item.cover256" />
    <p class="artistName" :title="item.name">{{item.name}}</p>
  </div>
</template>
<script>
import EventBus from "../bus";
import BaseItem from "./BaseItem";

export default {
  extends: BaseItem,
  mounted() {
    this.scrollEventName = "artists_check_cover_visibility";
    if (this.$route.query.id && this.$route.query.id == this.item._id) {
      this.loadFromDataBase(() => {
        this.item.visible = true;
        this.$store.state.selectedArtist = this.item;
        this.scrollIntoView(false);
        if (this.$route.query.play) {
          let track = this.item.tracks.find(
            f => f._id == this.$route.query.play
          );
          if (track) {
            this.$store.state.selectedTrack = track;
          }
        }
      });
    } else if (!this.isItemInViewport(true)) {
      EventBus.$on(this.scrollEventName, this.isItemInViewport);
    }
  },
  methods: {
    selectArtist() {
      this.$emit("clicked");
      if (this.searchResult || this.$store.state.selectedArtist._id == this.item._id) {
        return;
      }
      this.$router.push("/artists?id=" + this.item._id);
    },
    scrollIntoView(smooth = true) {
      let useSmoothBehavior = false;
      if (smooth) {
        useSmoothBehavior = this.$store.state.selectedArtist._id != null;
      }
      this.$nextTick(() => {
        this.scrollFunction(useSmoothBehavior);
      });
    },
    loadFromDataBase(callback) {
      if (this.item.albums) {
        callback();
        return;
      }
      this.item.shuffleHistory = [];

      this.$http
        .get(this.server + "/api/artist/" + this.item._id, this.headers)
        .then(res => {
          this.item.cover256 = res.data.cover256;
          this.item.tracks = [];
          this.item.albums = res.data.albums;
          this.item.albums.forEach(album => {
            album.parent = this.item;
            album.tracks.forEach(track => {
              track.parent = album;
              this.item.tracks.push(track);
            });
          });
          callback();
        });
    }
  },
  computed: {
    cover() {
      this.item.cover;
    },
    title() {
      return this.item.name;
    }
  }
};
</script>
