<template>
  <div id="artistDetailsContent" class="detailContent">
    <div class="detailsCoverContainer">
      <img class="detailsCover" :src="selectedArtist.cover512" />
    </div>
    <ul id="trackList" class="tracks topBorder">
      <li v-for="item in selectedArtist.tracks" :key="item._id">
        <Track :track="item" :showCover="true" />
      </li>
    </ul>
    <div id="controlPanelBottom" class="topBorder bgWhite">
      <PlayerControls />
    </div>
  </div>
</template>
<script>
import Track from "./Track";
import PlayerControls from "./PlayerControls";
export default {
  computed: {
    selectedArtist() {
      if (!this.$store.state.selectedArtist.cover512) {
        this.$http
          .get(
            this.server +
              "/api/artist/" +
              this.$store.state.selectedArtist._id +
              "/cover/512",
            this.headers
          )
          .then(res => {
            this.$store.state.selectedArtist.cover512 = res.data;
          });
      }
      return this.$store.state.selectedArtist;
    },
    server() {
      return this.$store.state.server;
    },
    headers() {
      return this.$store.getters.headers;
    }
  },
  components: {
    Track,
    PlayerControls
  }
};
</script>