<template>
  <div :id="item._id" class="box" @click="selectBox" @dblclick="showInstand" :title="title">
    <img class="boxCover" :src="item.cover128" />
    <p class="boxTitle">{{item.title}}</p>
  </div>
</template>
<script>
import EventBus from "../bus";
import BaseItem from "./BaseItem";

export default {
  extends: BaseItem,
  mounted() {
    this.scrollEventName = "box_check_cover_visibility";
    if (this.$route.query.id && this.$route.query.id == this.item._id) {
      this.loadFromDataBase(() => {
        this.item.visible = true;
        this.$store.state.selectedBox = this.item;
        this.scrollIntoView(false);
        if (this.$route.query.play) {
          let video = this.item.videos.find(
            f => f._id == this.$route.query.play
          );
          if (video) {
            this.$store.state.selectedVideo = video;
          }
        }
      });
    } else if (!this.isItemInViewport(true)) {
      EventBus.$on(this.scrollEventName, this.isItemInViewport);
    }
  },
  methods: {
    selectBox() {
      this.$emit("clicked");
      if (this.searchResult || this.$store.state.selectedBox._id == this.item._id) {
        return;
      }
      this.$router.push("/boxes?id=" + this.item._id);
    },
    scrollIntoView(smooth = true) {
      let useSmoothBehavior = false;
      if (smooth) {
        useSmoothBehavior = this.$store.state.selectedBox._id != null;
      }
      this.$nextTick(() => {
        this.scrollFunction(useSmoothBehavior);
      });
    },
    loadFromDataBase(callback) {
      if (this.item.videos) {
        callback();
        return;
      }
      this.item.shuffleHistory = [];

      this.$http
        .get(this.server + "/api/box/" + this.item._id, this.headers)
        .then(res => {
          this.item.cover128 = res.data.cover128;
          this.item.videos = res.data.videos;
          this.item.videos.forEach(track => {
            track.parent = this.item;
          });
          callback();
        });
    }
  },
  computed: {
    title() {
      return (
        this.item.title +
        (this.item.year && this.item.year > 0
          ? " (" + this.item.year + ")"
          : "")
      );
    }
  }
};
</script>