<template>
  <div
    id="boxDetailsContent"
    class="detailContent"
  >
    <div class="detailsCoverContainer">
      <img class="detailsCover" :src="selectedBox.cover256" />
    </div>
    <ul class="videos topBorder">
      <li v-for="item in selectedBox.videos" :key="item._id">
        <Video :video="item" />
      </li>
    </ul>
  </div>
</template>
<script>
import Video from "./Video";
export default {
  computed: {
    selectedBox() {
      if (!this.$store.state.selectedBox.cover256) {
        this.$http
          .get(
            this.server +
              "/api/box/" +
              this.$store.state.selectedBox._id +
              "/cover/256",
            this.headers
          )
          .then(res => {
            this.$store.state.selectedBox.cover256 = res.data;
          });
      }
      return this.$store.state.selectedBox;
    },
    server() {
      return this.$store.state.server;
    },
    headers() {
      return this.$store.getters.headers;
    }
  },
  components: {
    Video
  }
};
</script>