<template>
  <div id="playerControls">
    <button
      @click="$store.commit('switchPlayerShuffleMode')"
      title="Shuffle mode"
      class="transparent"
    >
      <img
        src="../../public/static/icons/media-shuffle.svg"
        v-if="$store.state.player.shuffle"
        class="small"
      />
      <img src="../../public/static/icons/media-consecutive.svg" v-else class="small" />
    </button>

    <button @click="prevTrack" title="Back" class="transparent">
      <img src="../../public/static/icons/media-backward.svg" class="medium" />
    </button>
    <button
      @click="togglePlaying"
      :title="$store.state.player.isPlaying? 'Pause':'Play'"
      class="transparent"
    >
      <img
        src="../../public/static/icons/media-start.svg"
        class="large"
        v-if="!$store.state.player.isPlaying"
      />
      <img src="../../public/static/icons/media-pause.svg" class="large" v-else />
    </button>
    <button @click="nextTrack" title="Forward" class="transparent">
      <img src="../../public/static/icons/media-forward.svg" class="medium" />
    </button>

    <button
      @click="$store.commit('switchPlayerRepeatMode')"
      title="Repeat mode"
      class="transparent"
    >
      <img
        src="../../public/static/icons/media-repeat.svg"
        class="small"
        v-if="$store.state.player.repeat=='all'"
      />
      <img
        src="../../public/static/icons/media-repeat-song.svg"
        class="small"
        v-if="$store.state.player.repeat=='one'"
      />
      <img
        src="../../public/static/icons/media-no-repeat.svg"
        class="small"
        v-if="$store.state.player.repeat=='none'"
      />
    </button>
  </div>
</template>
<script>
import EventBus from "../bus";
export default {
  methods: {
    prevTrack() {
      EventBus.$emit("request_prev_track");
    },
    nextTrack() {
      EventBus.$emit("request_next_track");
    },
    togglePlaying() {
      EventBus.$emit("request_toggle_playing");
    }
  }
};
</script>