<template>
  <div id="player">
    <div id="playerTrackProgress" v-show="currentTrack.title">
      <div id="title" @click="gotoItem">
        <b>{{currentTrack.title}}</b>
        <span>from</span>
        <b>{{currentTrack.parent.title}}</b>
      </div>
      <div id="progress">
        <span>{{formatedP}}</span>
        <input
          type="range"
          id="slider"
          min="0"
          max="100"
          v-model="$store.state.player.percent"
          @change="slideChanged"
        />
        <span>{{formatedD}}</span>
      </div>
      <audio
        preload="auto"
        ref="audioControl"
        type="audio/mpeg"
        @ended="nextTrack"
        @play="audioPlay"
        @durationchange="durationChanged"
        src
      ></audio>
    </div>
  </div>
</template>

<script>
import EventBus from "../bus";
export default {
  data() {
    return {
      duration: 0,
      progress: 0,
      interval: 0
    };
  },

  mounted() {
    EventBus.$on("request_next_track", this.nextTrack);
    EventBus.$on("request_prev_track", this.prevTrack);
    EventBus.$on("request_toggle_playing", this.togglePlaying);
    EventBus.$on("track_selected", this.playTrack);
    EventBus.$on("radio_selected", this.playRadio);
    EventBus.$on("request_progress_change", this.slideChanged);
  },

  methods: {
    durationChanged() {
      this.duration = this.$refs.audioControl.duration;
    },
    audioPlay() {
      this.$store.state.player.isPlaying = true;
      window.clearInterval(this.interval);
      this.interval = setInterval(() => {
        this.progress = this.$refs.audioControl.currentTime;
        this.$store.state.player.percent =
          (100 / this.duration) * this.progress;
      }, 1000);
    },
    audioReset() {
      this.$store.state.player.isPlaying = false;
      let audio = this.$refs.audioControl;
      audio.pause();
      audio.src = "";
      this.$store.commit("resetSelectedTrack");
    },
    slideChanged() {
      let audio = this.$refs.audioControl;
      let was_paused = audio.paused;
      audio.pause();
      let currentTime = Math.floor(
        (this.duration * this.$store.state.player.percent) / 100
      );
      this.$refs.audioControl.currentTime = currentTime;
      this.progress = currentTime;
      if (!was_paused) {
        audio.play();
      }
    },
    playRadio(radio) {
      let audio = this.$refs.audioControl;
      if (!audio || !radio._id) {
        return;
      }

      audio.pause();
      audio.src = radio.url;
      audio.play();

      this.$store.commit("resetSelectedTrack");
    },
    playTrack(track) {
      this.$store.state.player.percent = 0;
      this.progress = 0;
      let audio = this.$refs.audioControl;
      if (!audio || !track._id) {
        return;
      }

      let url = this.server + "/api/track/" + track._id + "/stream";

      if (this.$store.state.isMobile) {
        url += "/" + (this.$store.state.me.mobile_bpm || "64");
      } else {
        url += "/" + (this.$store.state.me.desktop_bpm || "128");
      }
      audio.src = url;
      audio.play();

      if (this.$route.query.id == this.currentTrackParent._id) {
        this.$router.push(
          this.$route.path +
            "?id=" +
            this.$route.query.id +
            "&play=" +
            this.currentTrack._id
        );
      }

      this.$store.commit("resetSelectedRadio");

      let history = {
        id: this.currentTrackParent._id,
        type: this.currentTrackParentType
      };
      this.$http
        .post(
          this.server + "/api/user/history",
          history,
          this.headers
        )
        .then(response => {
          this.$store.state.me.history = response.data;
        });
    },
    nextTrack() {
      this.$store.state.player.percent = 0;
      this.progress = 0;
      this.duration = 0;
      if (!this.currentTrack._id) {
        return;
      }
      let nextTrack;
      let parent = this.currentTrackParent;

      if (this.$store.state.player.repeat == "one") {
        nextTrack = this.currentTrack;
        this.$store.commit("resetSelectedTrack");
      } else {
        nextTrack = parent.getNextTrack(this.currentTrack);
      }

      if (!nextTrack && this.$store.state.player.repeat == "all") {
        nextTrack = parent.getFirstTrack();
      }

      if (nextTrack) {
        this.$store.state.selectedTrack = nextTrack;
      } else {
        this.audioReset();
      }
    },
    prevTrack() {
      this.$store.state.player.percent = 0;
      this.progress = 0;
      if (!this.currentTrack._id) {
        return;
      }

      let parent = this.currentTrackParent;
      let nextTrack = parent.getPrevTrack(this.currentTrack);

      if (nextTrack) {
        this.$store.state.selectedTrack = nextTrack;
      } else {
        this.audioReset();
      }
    },
    togglePlaying() {
      if (
        this.$refs.audioControl.paused &&
        !this.currentTrack._id &&
        !this.currentRadio._id
      ) {
        if (
          this.$route.path.includes("/albums") &&
          this.$store.state.selectedAlbum.tracks
        ) {
          this.$store.state.selectedTrack = this.$store.state.selectedAlbum.getFirstTrack();
        } else if (
          this.$route.path.includes("/artists") &&
          this.$store.state.selectedArtist.tracks
        ) {
          this.$store.state.selectedTrack = this.$store.state.selectedArtist.getFirstTrack();
        }
        return;
      }
      window.clearInterval(this.interval);
      if (this.$refs.audioControl.paused) {
        this.$refs.audioControl.play();
      } else {
        this.$refs.audioControl.pause();
      }
      this.$store.state.player.isPlaying = !this.$refs.audioControl.paused;
    },
    gotoItem() {
      this.$router.push(
        "/" +
          this.currentTrackParentType +
          "?id=" +
          this.currentTrackParent._id +
          "&play=" +
          this.currentTrack._id
      );
      this.currentTrackParent.selected(false);
    }
  },
  computed: {
    currentTrack() {
      return this.$store.state.selectedTrack;
    },
    currentRadio() {
      return this.$store.state.selectedRadio;
    },
    currentTrackParent() {
      let parent = this.currentTrack.parent;
      if (this.currentTrack.parent.parent.tracks) {
        parent = this.currentTrack.parent.parent;
      }
      return parent;
    },
    currentTrackParentType() {
      let type = "albums";
      if (this.currentTrack.parent.parent.tracks) {
        type = "artists";
      }
      return type;
    },
    formatedD() {
      let m = Math.floor(this.duration / 60);
      let s = Math.floor(this.duration - m * 60);

      return (m < 10 ? "0" : "") + m + ":" + (s < 10 ? "0" : "") + s;
    },
    formatedP() {
      let m = Math.floor(this.progress / 60);
      let s = Math.floor(this.progress - m * 60);

      return (m < 10 ? "0" : "") + m + ":" + (s < 10 ? "0" : "") + s;
    },
    server() {
      return this.$store.state.server;
    },
    headers() {
      return this.$store.getters.headers;
    }
  }
};
</script>