<template>
  <div class="radio" @click="clicked" :class="{'selected': item == $store.state.selectedRadio}">
    <img class="radioCover" src="static/icons/internet-radio_gray.svg">
    <div>
      <p class="radioTitle">{{item.name}}</p>
      <p class="radioUrl">{{item.url}}</p>
    </div>
  </div>
</template>

<script>
import EventBus from "../bus";
import BaseItem from "./BaseItem";

export default {
  extends: BaseItem,
  mounted() {
    if (this.$route.query.play && this.$route.query.play == this.item._id) {
      this.$nextTick(() => {
        this.clicked();
      });
    }
  },
  methods: {
    clicked() {
      this.$store.state.selectedRadio = this.item;
    }
  }
};
</script>