<template>
  <div id="statusBar" v-show="status.scanning_music || status.scanning_video">
    <p>
      <span title="Artists">
        <img src="../../public/static/icons/artist_light.svg" class="small">
        {{status.artists}}
      </span>
      <span title="Albums">
        <img src="../../public/static/icons/album_light.svg" class="small">
        {{status.albums}}
      </span>
      <span title="Tracks">
        <img src="../../public/static/icons/song.svg" class="small">
        {{status.tracks}}
      </span>
      <span title="Left music files to scann">
        <img src="../../public/static/icons/files.svg" class="small">
        {{status.scann_buffer}}
      </span>
      <span title="Videos">
        <img src="../../public/static/icons/video_light.svg" class="small">
        {{status.videos}}
      </span>
    </p>
  </div>
</template>

<script>
export default {
  props: {
    status: {}
  }
};
</script>
