<template>
  <div
    :id="track._id"
    class="track"
    @click="clicked"
    :class="{'selected': track == $store.state.selectedTrack, 'selected50': track._id == $store.state.selectedTrack._id}"
  >
    <div class="trackDetails">
      <img :src="track.parent.cover32" :title="track.parent.title" class="trackCover" />
      <div class="trackTitle">{{track.title}}</div>
      <div class="trackDuration">{{duration}}</div>
    </div>
    <input
      type="range"
      id="slider"
      min="0"
      max="100"
      v-model="$store.state.player.percent"
      v-if="track == $store.state.selectedTrack"
      @change="slideChanged"
    />
  </div>
</template>

<script>
import EventBus from "../bus";
export default {
  props: {
    track: {}
  },
  created() {
    EventBus.$on("track_selected", this.scrollFunction);
  },
  methods: {
    clicked() {
      this.$store.state.selectedTrack = this.track;
    },
    scrollFunction(track) {
      if (track._id != this.track._id) {
        return;
      }
      this.$nextTick(() => {
        let parent = document
          .getElementById("trackList")
          .getBoundingClientRect();
        let element = document.getElementById(this.track._id);
        let bounding = element.getBoundingClientRect();
        let scrollDown = bounding.top < parent.top;
        let scrollUp = bounding.bottom > parent.bottom;
        if (scrollDown) {
          element.scrollIntoView({
            block: "start",
            behavior: "smooth"
          });
        } else if (scrollUp) {
          element.scrollIntoView({
            block: "end",
            behavior: "smooth"
          });
        }
      });
    },
    slideChanged() {
      EventBus.$emit("request_progress_change");
    }
  },
  computed: {
    duration() {
      let min = parseInt(this.track.duration / 60);
      let sec = parseInt(this.track.duration - min * 60);
      return min + ":" + (sec < 10 ? "0" : "") + sec;
    }
  }
};
</script>