<template>
  <div
    :id="video._id"
    class="video"
    :title="video.title"
    @click="clicked"
    :class="{'selected': video == $store.state.selectedVideo}"
  >
    <img class="videoCover" :src="cover" />
    <div class="videoTitle">{{video.title}}</div>
  </div>
</template>

<script>
import EventBus from "../bus";
export default {
  props: {
    video: {
      type: Object
    }
  },
  methods: {
    clicked() {
      if (this.$store.state.selectedVideo != this.video) {
        this.$store.state.selectedVideo = this.video;
      }
    }
  },
  computed: {
    cover() {
      return this.video.thumbnail;
    }
  }
};
</script>