<template>
  <div id="app">
    <nav v-show="$store.state.me.token">
      <div>
        <router-link
          :to="'/albums' + ($store.state.selectedAlbum._id && $route.path != '/albums'? '?id=' + $store.state.selectedAlbum._id : '')"
          title="Albums"
        >
          <img :src="'static/icons/album'+($route.path =='/albums'? '_light' :'_dark')+'.svg'" />
          <span class="navigation-title">Albums</span>
        </router-link>
        <router-link
          :to="'/artists'+ ($store.state.selectedArtist._id && $route.path != '/artists'? '?id=' + $store.state.selectedArtist._id : '')"
          title="Artists"
        >
          <img :src="'static/icons/artist'+($route.path =='/artists'? '_light' :'_dark')+'.svg'" />
          <span class="navigation-title">Artists</span>
        </router-link>
        <router-link :to="'/radios'" title="Online Radio">
          <img
            :src="'static/icons/internet-radio'+($route.path =='/radios'? '_light' :'_dark')+'.svg'"
          />
          <span class="navigation-title">Radio</span>
        </router-link>
        <router-link
          :to="'/boxes'+ ($store.state.selectedBox._id && $route.path != '/boxes'? '?id=' + $store.state.selectedBox._id : '')"
          title="Boxes"
        >
          <img :src="'static/icons/video'+($route.path =='/boxes'? '_light' :'_dark')+'.svg'" />
          <span class="navigation-title">Videos</span>
        </router-link>
      </div>
      <div></div>
      <div>
        <input
          id="search"
          type="text"
          @focus="gotoSearchView"
          @keydown="searchTermChanged"
          v-model="searchTerm"
          placeholder="Search…"
        />
        <ContextMenu>
          <button
            @click="startSyncMusic"
            v-if="$store.getters.amImod && ($route.path == '/albums' || $route.path == '/artists')"
          >
            <img
              src="static/icons/synchronizing.svg"
              class="small"
              :class="{'synchronize': $store.state.serverStatus.scanning_music}"
            />Synchronize Music
          </button>
          <button
            @click="openRadiosDialog"
            v-if="$store.getters.amImod && $route.path == '/radios'"
          >
            <img src="static/icons/internet-radio_dark.svg" class="small" />Manage Radio Stations
          </button>
          <button @click="startSyncVideo" v-if="$store.getters.amImod && $route.path == '/boxes'">
            <img
              src="static/icons/synchronizing.svg"
              class="small"
              :class="{'synchronize': $store.state.serverStatus.scanning_video}"
            />Synchronize Videos
          </button>
          <button @click="openUsersDialog" v-if="$store.getters.amImod && !$store.state.isMobile">
            <img src="static/icons/users.svg" class="small" />User management
          </button>
          <button @click="openUserProfileDialog">
            <img src="static/icons/user.svg" class="small" />Profile
          </button>
          <hr />
          <button @click="logout">
            <img src="static/icons/logout.svg" class="small" />Logout
          </button>
        </ContextMenu>
      </div>
    </nav>
    <div class="mainContent">
      <keep-alive>
        <router-view />
      </keep-alive>
    </div>
    <Player v-show="false" />
    <Users ref="dialogUsers" />
    <UserProfile ref="dialogUserProfile" />
    <StatusBar :status="$store.state.serverStatus" />
  </div>
</template>

<script>
import StatusBar from "./components/StatusBar";
import ContextMenu from "./components/controls/ContextMenu";
import Users from "./components/dialogs/Users";
import UserProfile from "./components/dialogs/UserProfile";
import Player from "./components/Player";
import EventBus from "./bus";

export default {
  name: "app",
  data() {
    return {
      searchTerm: "",
      searchTimer: 0,
      timeoutHandler: 0
    };
  },
  created() {
    this.login();
    this.$http.get("./config.json").then(res => {
      this.$store.state.server = res.data.backend;
    });

    EventBus.$on("artists_request", this.loadArtists);
    EventBus.$on("albums_request", this.loadAlbums);
    EventBus.$on("boxes_request", this.loadBoxes);
    EventBus.$on("radios_request", this.loadRadios);
  },
  mounted() {
    window.addEventListener("resize", () => {
      EventBus.$emit("albums_check_cover_visibility");
    });

    document.addEventListener("keydown", e => {
      switch (e.key) {
        case "MediaPlay":
          EventBus.$emit("request_toggle_playing");
          break;
        case "MediaTrackNext":
          EventBus.$emit("request_next_track");
          break;
        case "MediaTrackPrevious":
          EventBus.$emit("request_prev_track");
          break;
        case "Escape":
          EventBus.$emit("escape_pressed");
          break;
      }
    });
    EventBus.$on("sync_started", this.grabStatus);
    EventBus.$on("player_settings_changed", this.saveSettings);
    //EventBus.$on("path_changed", this.saveSettings);
    EventBus.$on("query_changed", this.queryViewer);
    EventBus.$on("track_selected", this.pushMediaInfo);

    if ("mediaSession" in navigator) {
      navigator.mediaSession.setActionHandler("play", function() {
        EventBus.$emit("request_toggle_playing");
      });
      navigator.mediaSession.setActionHandler("pause", function() {
        EventBus.$emit("request_toggle_playing");
      });
      navigator.mediaSession.setActionHandler("seekbackward", function() {
        EventBus.$emit("request_prev_track");
      });
      navigator.mediaSession.setActionHandler("seekforward", function() {
        EventBus.$emit("request_next_track");
      });
      navigator.mediaSession.setActionHandler("previoustrack", function() {
        EventBus.$emit("request_prev_track");
      });
      navigator.mediaSession.setActionHandler("nexttrack", function() {
        EventBus.$emit("request_next_track");
      });
    }

    this.grabStatus();
  },
  methods: {
    loadMySettings() {
      if (this.$store.state.me.player.repeat) {
        this.$store.state.player.repeat = this.$store.state.me.player.repeat;
      } else {
        this.$store.state.player.repeat = "none";
      }
      this.$store.state.player.shuffle = this.$store.state.me.player.shuffle;

      this.$http
        .get(this.server + "/api/user/history", this.headers)
        .then(his => {
          this.$store.state.me.history = his.data;
        });

      // CHECK IF PARAMETER EXISTS
      let resolve = this.$router.resolve(this.$route.path);
      if (resolve.resolved.matched.length == 0) {
        if (this.$store.state.me.restorePath) {
          let resolve = this.$router.resolve(this.$store.state.me.path);
          if (resolve.resolved.matched.length > 0) {
            window.location = "#" + this.$store.state.me.path;
          }
        }
      }
    },
    grabStatus() {
      /* clearTimeout(this.timeoutHandler);
      this.$http
        .get("/api/status")
        .then(response => {
          this.$store.state.serverStatus = response.data;
          if (
            this.$store.state.serverStatus.scanning_music ||
            this.$store.state.serverStatus.scanning_video
          ) {
            this.timeoutHandler = setTimeout(this.grabStatus, 1000);
          }
        })
        .catch(err => {
          this.timeoutHandler = setTimeout(this.grabStatus, 3000);
        }); */
    },
    saveSettings() {
      this.$http
        .put("/api/user/settings", {
          repeat: this.$store.state.player.repeat,
          shuffle: this.$store.state.player.shuffle,
          path: this.$route.fullPath
        })
        .then(response => {
          if (response.status == 202) {
            Console.log("player settings changed");
          }
        });
    },
    loadArtists() {
      if (this.$store.state.artists.length == 0) {
        console.log("load artists...");
        this.$http
          .get(this.server + "/api/artist", this.headers)
          .then(response => {
            let id_found = false;
            response.data.forEach(artist => {
              artist.visible = false;
              if (this.$route.query.id && this.$route.query.id == artist._id) {
                id_found = true;
              }
            });
            if (this.$route.query.id && !id_found) {
              window.location = "#/artists";
            }
            this.$store.state.artists = response.data;
          });
      }
    },
    loadAlbums() {
      if (this.$store.state.albums.length == 0) {
        console.log("load albums...");
        this.$http
          .get(this.server + "/api/album", this.$store.getters.headers)
          .then(response => {
            let id_found = false;
            response.data.forEach(album => {
              album.visible = false;
              if (this.$route.query.id && this.$route.query.id == album._id) {
                id_found = true;
              }
            });
            if (this.$route.query.id && !id_found) {
              window.location = "#/albums";
            }
            this.$store.state.albums = response.data;
          });
      }
    },
    loadRadios(force = false) {
      if (this.$store.state.radios.length == 0 || force) {
        this.$http
          .get(this.server + "/api/radio", this.headers)
          .then(response => {
            this.$store.state.radios = response.data;
          });
      }
    },
    loadBoxes() {
      if (this.$store.state.boxes.length == 0) {
        console.log("loading boxes...");
        this.$http
          .get(this.server + "/api/box", this.headers)
          .then(response => {
            let id_found = false;
            response.data.forEach(box => {
              box.visible = false;
              if (this.$route.query.id && this.$route.query.id == box._id) {
                id_found = true;
              }
            });
            if (this.$route.query.id && !id_found) {
              window.location = "#/boxes";
            }
            this.$store.state.boxes = response.data;
          });
      }
    },
    queryViewer() {
      if (this.$route.query.id) {
        let id = this.$route.query.id;
        switch (this.$route.path) {
          case "/albums":
            if (this.$store.state.selectedAlbum._id != id) {
              this.$store.commit("selectAlbum", id);
            }
            break;
          case "/artists":
            if (this.$store.state.selectedArtist._id != id) {
              this.$store.commit("selectArtist", id);
            }
            break;
          case "/boxes":
            if (this.$store.state.selectedBox._id != id) {
              this.$store.commit("selectBox", id);
            }
            break;
        }
      } else {
        switch (this.$route.path) {
          case "/albums":
            this.$store.commit("resetSelectedAlbum");
            break;
          case "/artists":
            this.$store.commit("resetSelectedArtist");
            break;
          case "/boxes":
            this.$store.commit("resetSelectedBox");
            break;
        }
      }
    },
    pushMediaInfo() {
      let track = this.$store.state.selectedTrack;
      if ("mediaSession" in navigator) {
        navigator.mediaSession.metadata = new MediaMetadata({
          title: track.title,
          artist: track.parent.parent.name,
          album: track.parent.title,
          artwork: [
            {
              src:
                "https://media.anufrij.de/api/album/" +
                track._id.toString() +
                "/cover/32",
              sizes: "32x32",
              type: "image/jpeg"
            },
            {
              src:
                "https://media.anufrij.de/api/album/" +
                track._id.toString() +
                "/cover/64",
              sizes: "64x64",
              type: "image/jpeg"
            },
            {
              src:
                "https://media.anufrij.de/api/album/" +
                track._id.toString() +
                "/cover/96",
              sizes: "96x96",
              type: "image/jpeg"
            },
            {
              src:
                "https://media.anufrij.de/api/album/" +
                track._id.toString() +
                "/cover/128",
              sizes: "128x128",
              type: "image/jpeg"
            },
            {
              src:
                "https://media.anufrij.de/api/album/" +
                track._id.toString() +
                "/cover/256",
              sizes: "256x256",
              type: "image/jpeg"
            }
          ]
        });
      }
    },
    startSyncMusic() {
      if (!this.$store.state.serverStatus.scanning_music) {
        this.$http
          .post(this.server + "/api/scan/music", this.headers)
          .then(response => {
            this.$store.state.serverStatus.scanning_music = true;
            EventBus.$emit("sync_started");
          });
      }
    },
    startSyncVideo() {
      if (!this.$store.state.serverStatus.scanning_video) {
        this.$http
          .post(this.server + "/api/scan/video", this.headers)
          .then(response => {
            this.$store.state.serverStatus.scanning_video = true;
            EventBus.$emit("sync_started");
          });
      }
    },
    gotoSearchView() {
      this.$router.push("search");
    },
    searchTermChanged(event) {
      clearTimeout(this.searchTimer);
      this.searchTimer = setTimeout(() => {
        this.$store.state.searchFilter = this.searchTerm;
        this.$nextTick(() => {
          EventBus.$emit("albums_check_cover_visibility");
          EventBus.$emit("artists_check_cover_visibility");
          EventBus.$emit("box_check_cover_visibility");
        });
      }, 250);
    },
    openUsersDialog() {
      this.$refs.dialogUsers.open();
    },
    openUserProfileDialog() {
      this.$refs.dialogUserProfile.open();
    },
    openRadiosDialog() {
      EventBus.$emit("request_radios_dialog");
    },
    login() {
      let hash = window.location.hash.replace("#/", "");
      if (!hash.startsWith("login")) {
        let redirect = encodeURIComponent(hash);
        this.$router.push({ path: "login", query: { redirect: redirect } });
      } else {
        this.$router.push({ path: "login" });
      }
    },
    logout() {
      localStorage.setItem("token", "");
      window.location.href = "/";
    }
  },
  computed: {
    server() {
      return this.$store.state.server;
    },
    headers() {
      return this.$store.getters.headers;
    }
  },
  watch: {
    "$store.state.selectedTrack": (newVal, oldVal) => {
      if (newVal.album_id != oldVal.album_id) {
        oldVal.parent.shuffleHistory = [];
      }
      EventBus.$emit("track_selected", newVal);
    },
    "$store.state.selectedRadio": (newVal, oldVal) => {
      EventBus.$emit("radio_selected", newVal);
    },
    "$store.state.selectedVideo": (newVal, oldVal) => {
      EventBus.$emit("video_selected", newVal);
    },
    "$store.state.server": newVal => {
      console.log("server_loaded: " + newVal);
      EventBus.$emit("server_loaded");
    },
    "$route.path": val => {
      EventBus.$emit("path_changed");
    },
    "$route.query": val => {
      EventBus.$emit("path_changed");
      EventBus.$emit("query_changed");
    }
  },
  components: {
    Player,
    StatusBar,
    ContextMenu,
    Users,
    UserProfile
  }
};
</script>