<template>
  <Dialog ref="dialogWindow" title="Radio Stations">
    <div id="newRadio" slot="header">
      <input
        id="radioName"
        ref="newName"
        v-model="newName"
        type="text"
        placeholder="Station Name"
        required
        pattern=".+"
      >
      <input
        id="radioUrl"
        ref="newUrl"
        v-model="newUrl"
        type="text"
        placeholder="Add a stream url"
        required
        pattern="https?://.+"
        @keydown.enter="validateAndSaveInput"
      >
      <button @click="validateAndSaveInput" title="Add new Radio Station">
        <img src="../../../public/static/icons/add_light.svg" class="small">
      </button>
    </div>
    <div id="radiosBody">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th class="maxWidth">Url</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(radio, i) in $store.state.radios" :key="i">
            <td>{{radio.name}}</td>
            <td>{{radio.url}}</td>
            <td>
              <button @click="deleteRadio(radio)" title="Remove Radio Station">
                <img src="../../../public/static/icons/user-delete.svg" class="small">
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </Dialog>
</template>
<script>
import Dialog from "../../../../../src/controls/Dialog";
import EventBus from "../../bus";

export default {
  data() {
    return {
      newName: "",
      newUrl: ""
    };
  },
  methods: {
    open() {
      this.$refs.dialogWindow.open();
      this.$nextTick(() => {
        this.$refs.newName.focus();
      });
    },
    validateAndSaveInput() {
      if (this.isInputValid()) {
        let newRadio = { name: this.newName, url: this.newUrl };
        this.$http.post("/api/radio", newRadio).then(response => {
          EventBus.$emit("radios_request", true);
        });
      }
    },
    isInputValid() {
      let inputs = document.querySelectorAll("#newRadio input");
      for (let i = 0; i < inputs.length; i++) {
        if (!inputs[i].validity.valid) {
          inputs[i].focus();
          return false;
        }
      }
      return true;
    },
    deleteRadio(radio) {
      this.$http
        .delete("/api/radio", {
          body: { id: radio._id }
        })
        .then(response => {
          EventBus.$emit("radios_request", true);
        });
    }
  },
  components: {
    Dialog
  }
};
</script>