<template>
  <Dialog ref="dialogWindow" title="Users">
    <div id="newUser" slot="header">
      <input
        placeholder="New User"
        v-model="newUser"
        ref="newUser"
        type="text"
        required
        pattern=".+"
      />
      <input
        placeholder="Password"
        v-model="newPass"
        ref="newPass"
        type="password"
        @keydown.enter="validateAndSaveInput"
        required
        pattern=".{5,}"
      />
      <button @click="validateAndSaveInput" title="Add new Useraccount">
        <img src="../../../public/static/icons/user-new.svg" class="small" />
      </button>
    </div>
    <div id="usersBody">
      <table>
        <thead>
          <tr>
            <th class="maxWidth">Name</th>
            <th v-if="$store.getters.amIadmin">Roles</th>
            <th>Last Access</th>
            <th></th>
            <th v-if="$store.getters.amIadmin"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(user, i) in users" :key="i">
            <td :class="{me: user._id == $store.state.me._id}">{{user.name}}</td>
            <td v-if="$store.getters.amIadmin">
              <ContextMenu icon="roles" v-if="user._id != $store.state.me._id">
                <div v-for="(role, i) in roles" :key="i">
                  <input
                    type="checkbox"
                    :checked="user.roles && user.roles.includes(role)"
                    @change="changeRole (user, role)"
                  />
                  {{role}}
                </div>
              </ContextMenu>
            </td>
            <td class="lastAccess">{{user.last_access}}</td>
            <td>
              <input
                type="password"
                placeholder="New Password"
                @keydown.enter="updateUser (user, $event)"
              />
            </td>
            <td v-if="$store.getters.amIadmin">
              <button
                @click="deleteUser(user)"
                title="Remove Useraccount"
                class="transparent"
                v-if="user._id != $store.state.me._id"
              >
                <img src="../../../public/static/icons/user-delete.svg" class="small" />
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </Dialog>
</template>
<script>
import Dialog from "../../../../../src/controls/Dialog";
import ContextMenu from "../controls/ContextMenu";

export default {
  data() {
    return {
      users: [],
      roles: [],
      newUser: "",
      newPass: ""
    };
  },
  methods: {
    open() {
      this.loadRoleList();
      this.loadUserList();
      this.$refs.dialogWindow.open();
      this.$nextTick(() => {
        this.$refs.newUser.focus();
      });
    },
    addUser() {
      let newUser = { name: this.newUser, password: this.newPass };
      this.$http
        .post(this.server + "/api/user", newUser, this.headers)
        .then(response => {
          this.loadUserList();
        });
    },
    updateUser(user, event) {
      var newUserPassword = event.srcElement.value;
      if (newUserPassword.length == 0) {
        console.log("No Password");
        return;
      }
      this.$http
        .put(
          this.server + "/api/user/",
          {
            name: user.name,
            newPassword: newUserPassword
          },
          this.headers
        )
        .then(response => {
          this.$refs.dialogWindow.message = "Password changed for " + user.name;
          event.srcElement.value = "";
          this.$refs.dialogWindow.focusButton();
        });
    },
    deleteUser(user) {
      let params = {
        body: { id: user._id }
      };
      this.$http
        .delete(this.server + "/api/user?id=" + user._id, this.headers)
        .then(response => {
          if (response.data.length > 0) {
            this.users = response.data;
          } else {
            window.location.href = "/system/setup";
          }
        });
    },
    loadRoleList() {
      this.$http
        .get(this.server + "/api/settings/user/roles", this.headers)
        .then(response => {
          this.roles = response.data;
        });
    },
    loadUserList() {
      this.newUser = "";
      this.newPass = "";
      this.$http.get(this.server + "/api/user", this.headers).then(response => {
        this.users = response.data;
      });
    },
    validateAndSaveInput() {
      this.newUser = this.newUser.trim();
      if (this.newUser.length == 0) {
        this.$refs.dialogWindow.message = "No Username";
        this.$refs.newUser.focus();
        return;
      }
      if (this.newPass.length == 0) {
        this.$refs.dialogWindow.message = "No Password";
        this.$refs.newPass.focus();
        return;
      }
      this.$http
        .get(
          this.server + "/api/user/" + this.newUser + "/exists",
          this.headers
        )
        .then(response => {
          if (response.data.exists) {
            this.$refs.dialogWindow.message = "Username bereits vergeben";
          } else {
            this.addUser();
          }
        });
    },
    changeRole(user, role) {
      let i = user.roles.indexOf(role);
      if (i > -1) {
        user.roles.splice(i, 1);
      } else {
        user.roles.push(role);
      }
      this.$http
        .put(this.server + "/api/user/", user, this.headers)
        .then(response => {
          this.$refs.dialogWindow.message = "Role changed for " + user.name;
        });
    }
  },
  computed: {
    server() {
      return this.$store.state.server;
    },
    headers() {
      return this.$store.getters.headers;
    }
  },
  components: {
    Dialog,
    ContextMenu
  }
};
</script>