<template>
  <Dialog ref="dialogWindow" :title="$store.state.me.name + '\'s Profile'" @closed="closed">
    <div id="profileBody">
      <section>
        <h4>Set new password</h4>
        <input type="password" ref="oldPass" v-model="oldPass" placeholder="Current Password" />
        <input
          type="password"
          ref="newPass"
          v-model="newPass"
          placeholder="New Password"
          @keydown.enter="changePassword"
        />
      </section>
      <section>
        <table class="configValues">
          <tr>
            <td colspan="2">
              <h4>Configuration</h4>
            </td>
          </tr>
          <tr>
            <td>Restore last Media on start up</td>
            <td>
              <input type="checkbox" v-model="$store.state.me.restorePath" />
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <h4>Audioquality</h4>
            </td>
          </tr>
          <tr>
            <td>On Moble Devices</td>
            <td>
              <select v-model="$store.state.me.mobile_bpm">
                <option v-for="(item, i) in audio_bpm_list" :key="i">{{item}}</option>
              </select>
              <span>kBit/s</span>
            </td>
          </tr>
          <tr>
            <td>On Desktop Devices</td>
            <td>
              <select v-model="$store.state.me.desktop_bpm">
                <option v-for="(item, i) in audio_bpm_list" :key="i">{{item}}</option>
              </select>
              <span>kBit/s</span>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <h4>Video</h4>
            </td>
          </tr>
          <tr>
            <td>Preferred Language</td>
            <td class="fillCell">
              <select v-model="$store.state.me.video_lang">
                <option v-for="(item, i) in video_lang_list" :key="i">{{item}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Quality</td>
            <td class="fillCell">
              <select v-model="$store.state.me.video_quality">
                <option v-for="(item, i) in video_quality_list" :key="i">{{item}}</option>
              </select>
            </td>
          </tr>
        </table>
      </section>
    </div>
  </Dialog>
</template>
<script>
import Dialog from "../../../../../src/controls/Dialog";
import EventBus from "../../bus";
export default {
  data() {
    return {
      loaded: false,
      oldPass: "",
      newPass: "",
      audio_bpm_list: [],
      video_lang_list: [],
      video_quality_list: []
    };
  },
  mounted() {
    console.log("Mounting User Profile Dialog");
  },
  methods: {
    open() {
      if (!this.loaded) {
        this.loadAudiQualityList();
        this.loadVideoLangList();
        this.laodVideoQualityList();
        this.loaded = true;
      }
      this.$refs.dialogWindow.open();
      this.$nextTick(() => {
        this.$refs.oldPass.focus();
      });
      EventBus.$on("user_config_changed", this.updateConfig);
    },
    closed() {
      EventBus.$off("user_config_changed", this.updateConfig);
    },
    loadAudiQualityList() {
      this.$http
        .get(this.server + "/api/settings/audio/quality/list", this.headers)
        .then(response => {
          this.audio_bpm_list = response.data;
        });
    },
    loadVideoLangList() {
      this.$http
        .get(this.server + "/api/settings/video/lang/list", this.headers)
        .then(response => {
          this.video_lang_list = response.data;
        });
    },
    laodVideoQualityList() {
      this.$http
        .get(this.server + "/api/settings/video/quality/list", this.headers)
        .then(response => {
          this.video_quality_list = response.data;
        });
    },
    changePassword() {
      console.log("changePassword");
      this.$http
        .post(this.server + "/api/user/update", {
          oldPassword: this.oldPass,
          newPassword: this.newPass
        })
        .then(response => {
          switch (response.status) {
            case 202:
              this.oldPass = "";
              this.newPass = "";
              this.$refs.dialogWindow.message = "Password changed";
              this.$refs.dialogWindow.focusButton();
              break;
          }
        })
        .catch(e => {
          switch (e.status) {
            case 401:
              this.$refs.dialogWindow.message = "Not Authorized";
              break;
            case 422:
              this.$refs.oldPass.focus();
              this.$refs.oldPass.select();
              this.$refs.dialogWindow.message = "Password is incorrect";
              break;
          }
        });
    },
    updateConfig() {
      console.log("updateConfig");
      this.$http
        .post(
          this.server + "/api/user/update",
          {
            restorePath: this.$store.state.me.restorePath,
            mobile_bpm: this.$store.state.me.mobile_bpm,
            desktop_bpm: this.$store.state.me.desktop_bpm,
            video_lang: this.$store.state.me.video_lang,
            video_quality: this.$store.state.me.video_quality
          },
          this.headers
        )
        .then(response => {
          if (this.$store.state.me.restorePath) {
            EventBus.$emit("path_changed");
          }
        });
    }
  },
  computed: {
    server() {
      return this.$store.state.server;
    },
    headers() {
      return this.$store.getters.headers;
    }
  },
  watch: {
    "$store.state.me.restorePath": (newVal, oldVal) => {
      console.log("restore changed");
      EventBus.$emit("user_config_changed");
    },
    "$store.state.me.mobile_bpm": (newVal, oldVal) => {
      console.log("mobile bpm changed");
      EventBus.$emit("user_config_changed");
    },
    "$store.state.me.desktop_bpm": (newVal, oldVal) => {
      console.log("desktop bpm changed");
      EventBus.$emit("user_config_changed");
    },
    "$store.state.me.video_lang": (newVal, oldVal) => {
      console.log("video lang changed");
      EventBus.$emit("user_config_changed");
    },
    "$store.state.me.video_quality": (newVal, oldVal) => {
      console.log("video quality changed");
      EventBus.$emit("user_config_changed");
    }
  },
  components: {
    Dialog
  }
};
</script>