<template>
  <Dialog ref="videoScreen" @closed="closed" :showFooter="false">
    <select slot="header" v-if="languages.length > 1" @change="langChanged" v-model="selectedLang">
      <option
        v-for="(lang, i) in languages"
        :key="i"
        :value="lang"
        :title="lang.title"
      >{{lang.lang.toUpperCase()}}</option>
    </select>
    <video
      @ended="nextVideo"
      @timeupdate="timeUpdate"
      style="height:100%; width:100%"
      ref="videoControl"
      src
      controls
    ></video>
  </Dialog>
</template>
<script>
import Dialog from "../../../../../src/controls/Dialog";
import EventBus from "../../bus";

export default {
  data() {
    return {
      languages: [],
      selectedLang: {},
      preConvert: false
    };
  },
  mounted() {
    EventBus.$on("video_selected", video => {
      if (!video || !video._id) {
        return;
      }

      if (this.$store.state.player.isPlaying) {
        EventBus.$emit("request_toggle_playing");
      }

      this.$refs.videoScreen.open(video.title);
      this.$nextTick(() => {
        this.playVideo(video);
      });

      this.$router.push("/boxes?id=" + video.parent._id + "&play=" + video._id);
    });
  },
  methods: {
    langChanged(event) {
      let streamUrl =
        this.server +
        "/api/video/" +
        this.currentVideo._id +
        "/stream/" +
        (this.$store.state.me.video_quality || "realtime") +
        "/" +
        this.langIndex;
      let v = this.$refs.videoControl;
      v.src = streamUrl;
      v.play();
    },
    playVideo(video) {
      this.preConvert = false;
      this.languages = [];
      let lastLang = this.selectedLang.lang;
      let langUrl = this.server + "/api/video/" + video._id + "/lang";
      this.$http.get(langUrl).then(response => {
        let findLang = response.data.find(
          f =>
            f.lang.toUpperCase() ==
            (lastLang || this.$store.state.me.video_lang || "ENG").toUpperCase()
        );

        this.languages = response.data;
        if (findLang) {
          this.selectedLang = findLang;
        } else {
          this.selectedLang = this.languages[0];
        }

        let streamUrl =
          this.server +
          "/api/video/" +
          video._id +
          "/stream/" +
          (this.$store.state.me.video_quality || "realtime") +
          "/" +
          this.langIndex;
        let v = this.$refs.videoControl;
        v.src = streamUrl;
        v.play();

        let history = {
          id: this.currentVideo.parent._id,
          type: "boxes"
        };
        this.$http
          .post(this.server + "/api/user/history", history, this.headers)
          .then(response => {
            this.$store.state.me.history = response.data;
          });
      });
    },
    nextVideo() {
      let nextVideo = this.currentVideo.parent.getNextVideo(this.currentVideo);
      if (nextVideo) {
        this.$store.state.selectedVideo = nextVideo;
      }
    },
    timeUpdate(event) {
      let percent = (event.target.currentTime / event.target.duration) * 100;
      if (percent > 50 && !this.preConvert) {
        this.preConvert = true;
        let nextVideo = this.currentVideo.parent.getNextVideo(
          this.currentVideo
        );
        if (nextVideo) {
          let streamUrl =
            this.server +
            "/api/video/" +
            nextVideo._id +
            "/convert/" +
            (this.$store.state.me.video_quality || "realtime") +
            "/" +
            this.langIndex;
          this.$http.get(streamUrl).then(respose => {
            console.log("Pre Convert started for: " + nextVideo.title);
          });
        }
      }
    },
    closed() {
      this.$store.state.selectedVideo = {};
      let q = this.$route.query;
      this.$router.push("/boxes?id=" + q.id);
    }
  },
  computed: {
    currentVideo() {
      return this.$store.state.selectedVideo;
    },
    langIndex() {
      return this.languages.indexOf(this.selectedLang);
    },
    server() {
      return this.$store.state.server;
    },
    headers() {
      return this.$store.getters.headers;
    }
  },
  components: {
    Dialog
  }
};
</script>